// Цвета
$white: #fff;
$black: #31456a;
$mainColor: #46D0DB;
$border: #D3E0ED;

// Переменные
$shadow: 5px 8px 10px rgba(170, 170, 204, 0.25), 5px 2px 8px rgba(170, 170, 204, 0.5);

body {
  background-color: #F8F8FC;
  color: $black;
}
a {
  color: $black;
}
*::placeholder {
  color: $black;
  opacity: 1;
}
.header {
  &__top {
    background-color: $white;
  }
  &__bottom {
    background-color: $mainColor;
  }
}

.menu {
  &__list {
    a {
      color: $black;
      &:after {
        background-color: $mainColor;
      }
    }
    &--b {
			a {
        color: $white;
				&:after {
					background-color: $white;
				}
			}
		}
  }
}

.user {
  &__drop {
    ul {
      background-color: $white;
    }
  }
}

.search {
  input {
    background: #F5F5FA;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
  }
}

.select-filters {
  &__item {
    border: 1px solid $border;
  }
  &__cross {
    &:after,&:before {
      background-color: #778DA4;
    }
  }
}

.title-head {
  border-bottom: 1px solid $border;
}

.sort {
  &__switch {
    input {
      &:checked {
        + .sort__button {

        }
      }
    }
  }
  &__button {
    background-color: $mainColor;
    box-shadow: inset 2px 2px 5px rgba(105, 141, 173, 0.4);
    span {
      background: linear-gradient(129.58deg, #E6EEF8 39.73%, #FFFFFF 151.21%);
      box-shadow: inset 0px -1px 1px rgba(85, 102, 123, 0.4);
    }
    &:after {
      background: #DEE8F2;
      box-shadow: inset 2px 2px 5px rgba(105, 141, 173, 0.4);
    }
  }
  &__indicator {
    box-shadow: inset 3px 3px 5px rgba(213, 230, 245, 0.4), inset 2px 2px 3px rgba(79, 98, 120, 0.9);
    &:after {
      background: linear-gradient(106.79deg, #FFFFFF -62.32%, #587CA5 190.73%);
    }
    &.active {
      &:after {
        background: $mainColor;
      }
    }
  }
  &__select-btn {
    color: $mainColor;
  }
  &__drop {
    ul {
      background-color: $white;
      box-shadow: $shadow;
      li {

      }
      a {
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
  &__file {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.55), 3px 3px 5px rgba(136, 160, 183, 0.35);
    &:after {
      background-color: $border;
    }
  }
}

.card {
  &__body {
    background-color: $white;
    box-shadow: $shadow;
  }
  &__col {
    &--2 {
      &:after {
        background-color: $mainColor;
      }
    }
    &--3 {
       &:after {
        background-color: $mainColor;
      }
    }
  }
  &__text {
    color: #000;
  }
  &__category {
    &--green {
      color: #83CCD6;
      &:after {
        background-color: #83CCD6;
      }
    }
    &--violet {
      color: #4C51CD;
      &:after {
        background-color: #4C51CD;
      }
    }
  }
  &__name {
    border-bottom: 2px solid #5e63d2;
  }
  &__stick {
    &--blue {
      background-color: #EBF5FF;
    }
    &--green {
      background-color: #EBFFF0;
    }
  }
  &__journal {
    &:after {
      box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.55), 3px 3px 5px rgba(136, 160, 183, 0.35);
    }
    &:hover {
      color: $mainColor;
    }
  }
  &__favorites {
    svg {
      stroke: #D3E3F8;
      fill: $white;
    }
    &.active {
      svg {
        stroke: $mainColor;
        fill: $mainColor;
      }
    }
    &:hover {
      svg {
        stroke: $mainColor;
      }
    }
  }
  &__drop {
    background: #F5F5FA;
    box-shadow: inset 4px 2px 6px rgba(72, 100, 125, 0.3);
  }
  &__drop-row {
    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }
  }
}

.btn {
  background-color: $mainColor;
  box-shadow: $shadow;
  color: $white;
  &--2 {
    background-color: $white;
    color: #6A7A92;
  }
}

.pagination {
  &__arrows {
    a {
      svg {
        stroke: $mainColor;
      }
      &:hover {
        svg {
          stroke: $black;
        }
      }
    }
  }
  &__numbers {
    a {
      color: $mainColor;
      &:hover {
        color: $black;
      }
    }
  }
}

.footer {
  &__container {
    border-top: 1px solid $border;
  }
  &__list {
    a {
      transition: 0.1s;
      &:hover {
        color: $mainColor;
      }
    }
  }
}

.input {
  input {
    background: #F5F5FA;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
  }
}

.filters {
  &__row {
    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }
  }
  &__radio-circle {
    border: 1px solid $black;
    &:after {
      background-color: $mainColor;
    }
  }
  &__radio-text {
    border-bottom: 1px solid #AFD5EB;
  }
  &__date {
    border-bottom: 1px solid $border;
  }
  &__amount {
    border-bottom: 1px solid $border;
    input {
      background: transparent;
    }
  }
  &__radio2 {
    input {
      &:checked {
        + .filters__radio2-circle {
          &:after {
            background-color: $mainColor;
            box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.55), inset 3px 3px 5px rgba(136, 160, 183, 0.35);
          }
        }
      }
    }
  }
  &__radio2-circle {
    background-color: $white;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.55), 3px 3px 5px rgba(136, 160, 183, 0.35);
    &:after {
      background: #31456A;
      box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
    }
  }
  &__plus {
    box-shadow: 5px 8px 10px rgba(170, 170, 204, 0.25), 5px 2px 8px rgba(170, 170, 204, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.38889 3.88889V6.61111C4.38889 6.71425 4.34792 6.81317 4.27499 6.8861C4.20206 6.95903 4.10314 7 4 7C3.89686 7 3.79795 6.95903 3.72501 6.8861C3.65208 6.81317 3.61111 6.71425 3.61111 6.61111V3.88889H0.888889C0.785749 3.88889 0.686834 3.84792 0.613903 3.77499C0.540972 3.70206 0.5 3.60314 0.5 3.5C0.5 3.39686 0.540972 3.29795 0.613903 3.22501C0.686834 3.15208 0.785749 3.11111 0.888889 3.11111H3.61111V0.388889C3.61111 0.285749 3.65208 0.186834 3.72501 0.113903C3.79795 0.0409721 3.89686 0 4 0C4.10314 0 4.20206 0.0409721 4.27499 0.113903C4.34792 0.186834 4.38889 0.285749 4.38889 0.388889V3.11111H7.11111C7.21425 3.11111 7.31317 3.15208 7.3861 3.22501C7.45903 3.29795 7.5 3.39686 7.5 3.5C7.5 3.60314 7.45903 3.70206 7.3861 3.77499C7.31317 3.84792 7.21425 3.88889 7.11111 3.88889H4.38889Z' fill='%23686868'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &__drop {
    
  }
  &__drop-container {
    background-color: $white;
    box-shadow: $shadow;
  }
}

.ui-datepicker {
  z-index: 2 !important;
}
.ui-widget-content .ui-state-default {
  background: $white;
  border-color: $border;
}
.ui-widget-content .ui-state-highlight {
  background: $border;
}
.ui-widget-content .ui-state-active {
  background: $mainColor;
  border-color: $mainColor;
}
.ui-widget.ui-widget-content {
  box-shadow: $shadow;
  border-radius: 10px;
}
.ui-widget-header {
  background: $white;
  border-color: $border;
  border-radius: 10px;
}

.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  border: 0.5px solid #F5F5FA;
  box-shadow: inset 4px 2px 6px rgba(72, 100, 125, 0.3);
  border-radius: 40px;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
  background: $mainColor;
}
.ui-slider-handle.ui-corner-all.ui-state-default {
  width: 20px;
  height: 20px;
  top: -7px;
  border-radius: 100%;
  border: none;
  box-shadow: -10px -10px 18px rgba(255, 255, 255, 0.8), 3px 1px 4px rgba(114, 137, 171, 0.9);
  outline: none;
  cursor: pointer;
}

.scrollbar-inner > .scroll-element.scroll-y {
  width: 6px;
  right: 15px;
}
.scrollbar-inner > .scroll-element .scroll-element_outer {
  overflow: visible;
}
.scrollbar-inner > .scroll-element .scroll-element_track {
  opacity: 1;
}
.scrollbar-inner > .scroll-element .scroll-bar {
  max-width: 18px;
  min-width: 18px;
  max-height: 18px;
  min-height: 18px;
  background: $white;
  box-shadow: -10px -10px 18px rgba(255, 255, 255, 0.8), 3px 1px 4px rgba(114, 137, 171, 0.9);
  opacity: 1;
  left: -6px;
  cursor: pointer;
}
.scrollbar-inner > .scroll-element:hover .scroll-bar {
  background: $white;
}
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
  background: $mainColor;
}