// Цвета
$white: #fff;
$black: #31456a;
$mainColor: #46D0DB;
$border: #D3E0ED;

// Переменные
$shadow: 5px 8px 10px rgba(170, 170, 204, 0.25), 5px 2px 8px rgba(170, 170, 204, 0.5);

body {
  background-color: #F8F8FC;
  color: $black;
}
a {
  color: $black;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.header {
  &__top {
    background-color: $white;
  }
  &__bottom {
    background-color: $mainColor;
  }
}

.menu {
  &__list {
    a {
      color: $black;
      &:after {
        background-color: $mainColor;
      }
    }
    &--b {
			a {
        color: $white;
				&:after {
					background-color: $white;
				}
			}
		}
  }
}

.user {
  &__drop {
    ul {
      background-color: $white;
    }
  }
}

.search {
  input {
    background: #F5F5FA;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25), inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #FFFFFF;
  }
}

.select-filters {
  &__item {
    border: 1px solid $border;
  }
  &__cross {
    &:after,&:before {
      background-color: #778DA4;
    }
  }
}

.title-head {
  border-bottom: 1px solid $border;
}

.sort {
  &__switch {
    input {
      &:checked {
        + .sort__button {

        }
      }
    }
  }
  &__button {
    background-color: $mainColor;
    box-shadow: inset 2px 2px 5px rgba(105, 141, 173, 0.4);
    span {
      background: linear-gradient(129.58deg, #E6EEF8 39.73%, #FFFFFF 151.21%);
      box-shadow: inset 0px -1px 1px rgba(85, 102, 123, 0.4);
    }
    &:after {
      background: #DEE8F2;
      box-shadow: inset 2px 2px 5px rgba(105, 141, 173, 0.4);
    }
  }
  &__indicator {
    box-shadow: inset 3px 3px 5px rgba(213, 230, 245, 0.4), inset 2px 2px 3px rgba(79, 98, 120, 0.9);
    &:after {
      background: linear-gradient(106.79deg, #FFFFFF -62.32%, #587CA5 190.73%);
    }
    &.active {
      &:after {
        background: $mainColor;
      }
    }
  }
  &__select-btn {
    color: $mainColor;
  }
  &__drop {
    ul {
      background-color: $white;
      li {

      }
      a {
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
  &__file {
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.55), 3px 3px 5px rgba(136, 160, 183, 0.35);
    &:after {
      background-color: $border;
    }
  }
}

.card {
  &__body {
    background-color: $white;
    box-shadow: $shadow;
  }
  &__col {
    &--2 {
      &:after {
        background-color: $mainColor;
      }
    }
    &--3 {
       &:after {
        background-color: $mainColor;
      }
    }
  }
  &__text {
    color: #000;
  }
  &__category {
    &--green {
      color: #83CCD6;
      &:after {
        background-color: #83CCD6;
      }
    }
    &--violet {
      color: #4C51CD;
      &:after {
        background-color: #4C51CD;
      }
    }
  }
  &__name {
    border-bottom: 2px solid #5e63d2;
  }
  &__stick {
    &--blue {
      background-color: #EBF5FF;
    }
    &--green {
      background-color: #EBFFF0;
    }
  }
  &__journal {
    &:after {
      box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.55), 3px 3px 5px rgba(136, 160, 183, 0.35);
    }
    &:hover {
      color: $mainColor;
    }
  }
  &__favorites {
    svg {
      stroke: #D3E3F8;
      fill: $white;
    }
    &.active {
      svg {
        stroke: $mainColor;
        fill: $mainColor;
      }
    }
    &:hover {
      svg {
        stroke: $mainColor;
      }
    }
  }
  &__drop {
    background: #F5F5FA;
    box-shadow: inset 4px 2px 6px rgba(72, 100, 125, 0.3);
  }
  &__drop-row {
    &:not(:last-child) {
      border-bottom: 1px solid $border;
    }
  }
}

.btn {
  background-color: $mainColor;
  box-shadow: $shadow;
  color: $white;
}

.pagination {
  &__arrows {
    a {
      svg {
        stroke: $mainColor;
      }
      &:hover {
        svg {
          stroke: $black;
        }
      }
    }
  }
  &__numbers {
    a {
      color: $mainColor;
      &:hover {
        color: $black;
      }
    }
  }
}

.footer {
  &__container {
    border-top: 1px solid $border;
  }
  &__list {
    a {
      transition: 0.1s;
      &:hover {
        color: $mainColor;
      }
    }
  }
}