// footer
footer.footer 
	.wrapper 
		.footer__container
			.row 
				.footer__col
					a(href="#").footer__logo 
						img(src="img/logo.svg", alt="")
					ul.footer__list 
						li 
							a(href="#") О сервисе
						li 
							a(href="#") Поиск
						li 
							a(href="#") Управление
						li 
							a(href="#") Аналитика
						li 
							a(href="#") Пользовательское<br>соглашение
				.footer__col
					.footer__title Контакты
					ul.footer__list 
						li 
							a(href="tel:+78432507227") +7 (843) 250-72-27
						li 
							a(href="mailto:support@startpack.ru") support@startpack.ru
				.footer__col
					.footer__title Мы в соц сетяц
					ul.footer__list 
						li 
							a(href="#") Twitter
						li 
							a(href="#") Facebook
						li 
							a(href="#") LinkedIn
						li 
							a(href="#") ВКонтакте
						li 
							a(href="#") Telegram
				.footer__col
					.footer__title.footer__title--nomar Наше<br>приложение
					.footer__stores
						a(href="#")
							img(src="img/googleplay.png", alt="")
						a(href="#")
							img(src="img/appstore.png", alt="")
// /footer