// header
header.header#header

	.header__top

		.wrapper

			a(href="home.html").header__logo
				img(src="img/logo.svg", alt="")

			// menu
			//- .menu--left .menu--right
			.js-menu.menu.menu--right
				#menu-btn.menu__btn.hamburger.hamburger--squeeze
					.hamburger-box
						.hamburger-inner
				nav
					ul.menu__list
						li
							a(href="#").active Поиск
						li
							a(href="#") Учавстчвую
						li
							a(href="#") Аналитика
					#menu-close.menu__close
				#menu-over.menu__over
			// /menu

			// user
			.user
				a(href="#").user__notify
					img(src="img/bell.svg", alt="")
				.user__login
					img(src="img/user.svg", alt="")
					span Никнейм
					.user__arrow 
						img(src="img/arrow.svg", alt="")
					.user__drop
						ul
							li 
								a(href="#") 
									img(src="img/user.svg", alt="")
									span Профиль
							li 
								a(href="#") 
									img(src="img/flag.svg", alt="")
									span Избранное
							li 
								a(href="#") 
									img(src="img/out.svg", alt="")
									span Выход
			//	/user

	.header__bottom

		.wrapper

			// menu
			//- .menu--left .menu--right
			.js-menu.menu.menu--right
				#menu-btn.menu__btn.hamburger.hamburger--squeeze
					.hamburger-box
						.hamburger-inner
				nav.menu__nav
					ul.menu__list.menu__list--b
						li
							a(href="#").active Текущие
						li
							a(href="#") Контракт
						li
							a(href="#") Архивные
						li
							a(href="#") Журнал
					#menu-close.menu__close
				#menu-over.menu__over
			// /menu

// /header