extends blocks/base.jade

block title 
	title Главная

block style-libs
	link(rel="stylesheet", href="css/libs/jquery-ui.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

include blocks/card.jade

block content

	.page

		include blocks/header.jade
		
		.content
			.wrapper

				// search
				form(action="").search
					//- img(src="img/search.svg", alt="")
					input#search(type="text" name="" placeholder="Поиск по наименованию закупки, реестровому номеру, наименованию или ИНН заказчика, ИКЗ")
					label(for="search") 
				//	/search

				// select-filters
				.select-filters
					.subtitle Выбранные фильтры
					.select-filters__row
						.select-filters__item 
							span 44-ФЗ
							.select-filters__cross
						.select-filters__item 
							span С авансом
							.select-filters__cross
						.select-filters__item 
							span Конкурс
							.select-filters__cross
						.select-filters__item 
							span Аукнион
							.select-filters__cross
						.select-filters__item 
							span Запрос котировок
							.select-filters__cross
						.select-filters__item 
							span Запрос предложений
							.select-filters__cross
				//	/select-filters

				.main-sidebar 

					main.main

						.main__body

							// title-head
							.title-head
								h1.title Результаты поиска
								.title-head__text более 999 записей
							// /title-head

							// sort
							form(action="").sort

								.sort__switch
									input#switch(type="checkbox", name="")
									label.sort__button(for="switch")
										span
									label(for="switch").sort__indicator
									.subtitle Включить скрытые

								.sort__select 
									.subtitle Сортировка по:
									.sort__select-btn.js-drop-click(data-id="#sortDrop") Сумме
										.sort__drop#sortDrop
											ul
												li
													a(href="#") Популярности
												li
													a(href="#") Размеру
									a(href="#").sort__file 
										img(src="img/file.svg", alt="")
							//	/sort

							.cards

								+card(false,true)
								+card(true)
								+card(true)
								+card

						.main__footer
							a(href="#").btn.btn--full Показать ещё

							// pagination
							.pagination
								.pagination__arrows
									a(href="#")
										img(src="img/arrows-green.svg", alt="")
									a(href="#")
										img(src="img/arrow-green.svg", alt="")
								.pagination__numbers 
									a(href="#") 1
									a(href="#") 2
									a(href="#") 3
									a(href="#") 4
									a(href="#") 5
									a(href="#") 6
									a(href="#") 7
									a(href="#") 8
									a(href="#") 9
								.pagination__arrows.pagination__arrows--next
									a(href="#")
										img(src="img/arrow-green.svg", alt="")
									a(href="#")
										img(src="img/arrows-green.svg", alt="")
							//	/pagination

					aside.sidebar

						.input
							input(type="text" placeholder="Исключить слова +")

						// filters
						form(action="").filters

							.filters__row 
								.subtitle Закон
								.filters__flex 
									.filters__radio
										input#law_1(type="radio" name="law" checked)
										label.filters__radio-circle(for="law_1")
										label.filters__radio-text(for="law_1") 44-ФЗ
									.filters__radio
										input#law_2(type="radio" name="law")
										label.filters__radio-circle(for="law_2")
										label.filters__radio-text(for="law_2") 44-ФЗ

							.filters__row 
								.subtitle Период публикации
								.filters__flex 
									.filters__date 
										input#date_1.js-datepicker(type="text" autocomplete="off")
										label(for="date_1")
									span.filters__dash &mdash;
									.filters__date 
										input#date_2.js-datepicker(type="text" autocomplete="off")
										label(for="date_2") 

							.filters__row 
								.subtitle Начальная цена
								#slider.filters__slider
								.filters__flex 
									.filters__amount
										input(type="text" readonly)#amount1
									span.filters__dash &mdash;
									.filters__amount
										input(type="text" readonly)#amount2
						//	/filters


			
		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	script(src="js/libs/jquery-ui.min.js") 
	script(src="js/libs/datepicker-ru.js") 
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")