.header {
  margin-bottom: 15px;
  &__top {
    padding: 30px 0;
    box-shadow: 0px 4px 4px rgba(72, 100, 125, 0.3), inset 0px -3px 14px rgba(72, 100, 125, 0.15);
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 2;
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__bottom {
    padding: 31px 0 10px;
    position: relative;
    z-index: 1;
    margin-top: -20px;
  }
  &__logo {
    max-width: 240px;
    max-height: 40px;
  }
}