.menu {
	position: relative;
	font-size: 16px;
	&__nav {
		transition: .5s;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			min-width: 86px;
			margin: 0 15px;
			text-align: center;
		}
		a {
			display: inline-block;
			padding: 16px 0;
			position: relative;
			font-weight: 700;
			&:after {
				content: '';
				display: block;
				height: 3px;
				position: absolute;
				left: -10px;
				right: -10px;
				bottom: -20px;
				opacity: 0;
				transition: 0.3s;
			}
			&:hover, &.active {
				&:after {
					opacity: 1;
					bottom: 0;
				}
			}
		}
		&--b {
			li {
				margin: 0 35px;
			}
			a {
				padding: 5px 0;
				&:after {
					height: 2px;
				}
			}
		}
	}
	&__btn {
		display: none;
	}
	@media (max-width: $break_sm) {
		&__nav {
			width: 100%;
			max-width: 600px;
			padding: 20px;
			background-color: #fff;
			position: fixed;
			top: 0;
			bottom: 0;
			overflow-y: auto;
		}
		&__list {
			display: block;
			li {

			}
			a {
				margin: 0;
			}
		}
		&__btn {
			display: inline-block;
		}

		&--left {
			.menu__nav {
				left: -800px;
			}
			&.open {
				.menu__nav {
					left: 0;
				}
			}
		}
		&--right {
			.menu__nav {
				right: -800px;
			}
			&.open {
				.menu__nav {
					right: 0;
				}
			}
		}
	}
}